@import '../css/root.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  background: linear-gradient(to right, var(--background-light)50% , var(--background-dark) 50%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  background-color: #f6f6f6;
  border: 1px solid var(--text-dark1);
  border-radius: .5rem;
  padding: 1.5rem;
  width: 25%;
  height: auto;
  overflow: hidden; 
  max-height: 46rem;
  gap: .5rem;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

label {
  font-weight: 300;
}

input {
  padding: .5rem .5rem; 
  border-radius: .5rem;
  border: 1px solid;
  border: 1px solid var(--color-border);
  margin-bottom: 1rem;
  gap: 1rem;
}

input::placeholder {
  color: var(--text-dark2);
}

.btn {
  padding: .5rem 1.5rem;
  border-radius: .5rem;
  border: none;
  color: var(--color-white);
  font-weight: 200;
  background-color: var(--color-btn);
  margin-bottom: .5rem;
  transition: background-color .5s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-btn-hoover);
}

.links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linkTexts {
  font-size: .85rem;
  text-decoration: underline;
  cursor: pointer;
  transition: color .5s ease;
}

.linkTexts:hover {
  color: var(--text-dark2);
}

.right {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
  color: var(--text-dark1);
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.right h1 {
  font-size: 7.5rem;
  font-weight: 500;
}

.right p {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 6rem;
}

.line {
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--color-black);
  font-size: 1.25rem;
  font-weight: 300;
  margin: 2rem .5rem 2rem .5rem;
}

.line::before,
.line::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--color-black);
}

.line::before {
  margin-right: 1.75rem;
}

.line::after {
  margin-left: 1.75rem;
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
}

.icons p {
  font-size: .9rem;
  font-weight: 300;
}

.icons {
  transition: transform 0.5s ease;
}

.icons:hover {
  transform: scale(1.25);
}

.erro {
  color: var(--color-error);
  font-weight: 600;
  font-size: .8rem;
  padding: .25rem;
}