:root {
  --background-light: #F3F3F3;
  --background-dark: #001133;
  --text-dark1: #E0E0E0;
  --text-dark2: #A0A0A0;
  --text-light1: #1e2939;
  --text-light2: #6b7280;
  --color-white: #FFFFFF; 
  --color-black: #000000; 
  --color-btn: #333333;
  --color-btn-hoover: #595959;
  --color-border: #E0E0E0;
  --color-error:  #E53935;
}