@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background-light: #F3F3F3;
  --background-dark: #001133;
  --text-dark1: #E0E0E0;
  --text-dark2: #A0A0A0;
  --color-white: #FFFFFF; 
  --color-black: #000000; 
  --color-btn: #333333;
  --color-btn-hoover: #595959;
  --color-border: #E0E0E0;
  --color-error:  #E53935;
}